@import "susy"
@import "compass/css3"

// IE Compatibility
$legacy-support-for-ie: true

$total-columns  : 12             
$column-width   : 70px           
$gutter-width   : 10px           
$grid-padding   : 35px 