@import "susy"
@import "compass/css3"
@import "compass/utilities/general/clearfix"

// IE Compatibility
$legacy-support-for-ie: true

// Basic paddings and margins
$page-padding: 35px

// SUSY Grid Definition
$total-columns  : 12             
$column-width   : 70px           
$gutter-width   : 10px           
$grid-padding   : $page-padding 

// Colors
$body-base-font-color: #444
$primary-color: #0086C4
$secondary-color: #0086C4
$secondary-color-areas: #009BDD
$headline-color: #0086C4
$link-color: $secondary-color
$middle-grey: #aaa
$black: #000
$footer-text: #888
$pink: #E51B68

// Font Properties
$font-size-base: 13px
$font-size-plus-one: 1.1em
$font-size-minus-one: 0.93em
$font-size-minus-two: 0.83em
$font-letter-spacing-base: 0.00em
$font-letter-spacing-headlines: 0.04em
$font-size-h1: 2.2em
$font-size-h2: 1.8em
$line-height-base: 1.5

$font-family-copy: "AsapRegular",verdana, arial, helvetica, sans-serif
$font-family-headlines: "ArvoRegular","trebuchet ms", arial, helvetica, sans-serif

$font-base-properties: #{$font-size-base}/#{$line-height-base} $font-family-copy 

// Start CSS

/*--------------------------------*/
/*---------- Reset Styles --------*/
/*--------------------------------*/
html, body
  padding: 0 
  margin: 0 
 
body
  line-height: 1
  letter-spacing: $font-letter-spacing-base

table
  border-collapse: collapse
  border-spacing: 0

/*--------------------------------*/
/*------------ Layout ------------*/
/*--------------------------------*/
body 
  background: #d8d8d8 url(../images/body-bg-aces.png)
  background: #d8d8d8 url(../images/lgrey008.png)
  font-family: verdana,arial,helvetica,sans-serif
  font-size: 12px
  line-height: 1.5
  padding: 20px 0 30px

#page 
  +container
  background: white
  +box-shadow(0px 2px 6px #999)
  zoom: 1
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=90, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=180, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=225, Strength=3) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=260, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=305, Strength=3)

.front #header
  height: 225px

#header-bottom 
  height: 32px
  background: black
  margin: 0 (-$page-padding)
  clear: both

#header-bottom-left 
  height: 100%
  width: 670px
  background: $secondary-color-areas

.header-bottom-left-inner 
  height: 100%
  width: 33px
  background: $pink


// Bis wir ein Logo haben
#logo
  width: 20%
  float: left
  display: none

#name-and-slogan
  height: 100px
  width: 20%
  float: left
  margin-left: (-$page-padding)
  #site-name
    padding: 10px 10px 15px $page-padding
    background: black
    font-family: $font-family-headlines
    font-size: 50px
    float: left
    margin: 0 0 0.1em 0
    text-transform: lowercase
    font-weight: normal
    line-height: 1.2
    width: 277px
    a
      color: $body-base-font-color
      font-weight: normal
      color: white
      &:hover
        text-decoration: none
      
.front #name-and-slogan
  height: 220px  

a#logo
  float: left
  padding-top: 7px

#navigation
  float: right
  width: 70%
  margin-top: 28px
  text-align: right
  ul 
    li 
      a 
        text-transform: uppercase
        font-family: $font-family-headlines
        font-size: $font-size-plus-one
        color: $body-base-font-color
 
#content
  +clearfix
  a.feed-icon
    display: none
  .region-content
    padding: 10px 0 25px

#footer
  +clearfix
  background: none repeat scroll 0 0 $black
  color: $footer-text
  font-size: $font-size-minus-two
  padding: 9px $page-padding 11px
  margin: 0 (-$page-padding) 
  p 
    margin: 0
  #footer-left
    +span-columns(4,12)
  #footer-right
    +span-columns(4 omega,12)
    text-align: right

/*--------------------------------*/
/*-------- Desktop-Layout --------*/
/*--------------------------------*/

.sidebar-second #page
  +at-breakpoint(750px 12 lt-ie9)
    #content
      +span-columns(9,12)
      .section
        padding-right: 30px
    #sidebar-second
      +span-columns(3 omega,12)


/*--------------------------------*/
/*---- Fonts, Micro-Elements -----*/
/*--------------------------------*/
body
  font: $font-base-properties
  color: $body-base-font-color

h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
  font-family: $font-family-headlines
  color: $headline-color
  text-transform: uppercase
  font-weight: normal
  letter-spacing: $font-letter-spacing-headlines

h1
  font-size: $font-size-h1

h2 
  font-size: $font-size-h2

/** Links, Taxonomy etc **/
a
  color: $link-color
  text-decoration: none
  &:hover, &:active
    text-decoration: underline 

/*--------------------------------*/
/*---------- Comments ------------*/
/*--------------------------------*/

#comments
  .comment
    +clearfix
    border: 1px solid #ddd 
    background: #FCFBF7
    padding: 15px 25px 15px 17px
    .user-picture-wrapper
      float: left
      width: 14%
      padding-top: 5px
      img 
        border: 1px solid #ddd
      .comment-author
        font-size: $font-size-minus-two
    .comment-content
      float: left
      width: 86%
      h3.title
        margin: 0 0 2px
      .links 
        width: 75%
        float: right
        ul.links
          float: left
          margin: 0
          width: 55%
        .comment-date
          float: right
