// IE Compatibility
$legacy-support-for-ie: true

// Basic paddings and margins
$page-padding: 35px

// SUSY Grid Definition
$total-columns  : 12
$column-width   : 70px
$gutter-width   : 10px
$grid-padding   : $page-padding





