/*-------------------------------- */
/*---------- Reset Styles -------- */
/*-------------------------------- */
/* line 50, ../sass/style.sass */
html, body {
  padding: 0;
  margin: 0;
}

/* line 54, ../sass/style.sass */
body {
  line-height: 1;
  letter-spacing: 0em;
}

/* line 58, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------- */
/*------------ Layout ------------ */
/*-------------------------------- */
/* line 65, ../sass/style.sass */
body {
  background: #d8d8d8 url(../images/body-bg-aces.png);
  background: #d8d8d8 url(../images/lgrey008.png);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  padding: 20px 0 30px;
}

/* line 73, ../sass/style.sass */
#page {
  *zoom: 1;
  max-width: 950px;
  _width: 950px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  -webkit-box-shadow: 0px 2px 6px #999999;
  -moz-box-shadow: 0px 2px 6px #999999;
  box-shadow: 0px 2px 6px #999999;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=90, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=180, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=225, Strength=3) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=260, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=305, Strength=3);
}
/* line 38, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 80, ../sass/style.sass */
.front #header {
  height: 328px;
  margin-right: -35px;
}
/* line 83, ../sass/style.sass */
.front #header #header-image {
  background: url(../images/header-laeufer.jpg) no-repeat right bottom;
  height: 296px;
  width: 705px;
  float: right;
}

/* line 89, ../sass/style.sass */
#header {
  margin: 0;
}
/* line 91, ../sass/style.sass */
#header ul#main-menu {
  float: left;
  margin: 0;
  width: 580px;
}
/* line 95, ../sass/style.sass */
#header ul#main-menu li {
  float: left;
  padding: 0;
}
/* line 99, ../sass/style.sass */
#header ul#main-menu li.first a {
  padding-left: 10px;
}
/* line 101, ../sass/style.sass */
#header ul#main-menu li a {
  color: #edf6f9;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 1.3em;
  display: inline-block;
  padding: 3px 10px 0;
}
/* line 109, ../sass/style.sass */
#header ul#main-menu li.active a {
  background: black;
  color: white;
  border-bottom: 3px solid #e51b68;
}

/* line 117, ../sass/style.sass */
#header-bottom {
  height: 32px;
  background: black;
  margin: 0 -35px;
  border-top: 5px solid white;
  clear: both;
}

/* line 124, ../sass/style.sass */
.front #header-bottom {
  margin: 0 0 0 -35px;
  border: 0;
}

/* line 129, ../sass/style.sass */
#header-bottom-left {
  height: 100%;
  width: 670px;
  background: #009bdd;
  float: left;
}

/* line 135, ../sass/style.sass */
.header-bottom-left-inner {
  float: left;
  height: 100%;
  width: 33px;
  background: #e51b68;
}

/* line 143, ../sass/style.sass */
#logo {
  width: 20%;
  float: left;
  display: none;
}

/* line 148, ../sass/style.sass */
#name-and-slogan {
  height: 108px;
  float: left;
  margin-left: -35px;
}
/* line 152, ../sass/style.sass */
#name-and-slogan #site-name {
  padding: 10px 10px 15px 35px;
  background: black;
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  font-size: 35px;
  float: left;
  margin: 0 0 0.1em 0;
  text-transform: lowercase;
  font-weight: normal;
  line-height: 1.2;
  width: 230px;
}
/* line 163, ../sass/style.sass */
#name-and-slogan #site-name a {
  color: #444444;
  font-weight: normal;
  color: white;
}
/* line 167, ../sass/style.sass */
#name-and-slogan #site-name a:hover {
  text-decoration: none;
}
/* line 169, ../sass/style.sass */
#name-and-slogan #site-slogan {
  float: left;
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
}

/* line 173, ../sass/style.sass */
.front #name-and-slogan {
  width: 20%;
  height: 220px;
}
/* line 176, ../sass/style.sass */
.front #name-and-slogan #site-name {
  padding: 10px 10px 15px 35px;
  font-size: 50px;
  float: left;
  margin: 0 0 0.1em 0;
  text-transform: lowercase;
  font-weight: normal;
  line-height: 1.2;
  width: 277px;
}
/* line 185, ../sass/style.sass */
.front #name-and-slogan #site-slogan {
  padding-left: 35px;
  width: 250px;
  clear: left;
  font-size: 23px;
  line-height: 1.2;
  padding-bottom: 13px;
  padding-top: 14px;
}
/* line 193, ../sass/style.sass */
.front #name-and-slogan #header-info {
  clear: left;
  padding-left: 35px;
  width: 250px;
  color: #888888;
}

/* line 199, ../sass/style.sass */
a#logo {
  float: left;
  padding-top: 7px;
}

/* line 203, ../sass/style.sass */
#content {
  overflow: hidden;
  *zoom: 1;
}
/* line 205, ../sass/style.sass */
#content a.feed-icon {
  display: none;
}
/* line 207, ../sass/style.sass */
#content .region-content {
  padding: 10px 0 25px;
}

/* line 210, ../sass/style.sass */
#footer {
  overflow: hidden;
  *zoom: 1;
  background: none repeat scroll 0 0 black;
  color: #888888;
  font-size: 0.83em;
  padding: 9px 35px 11px;
  margin: 0 -35px;
}
/* line 217, ../sass/style.sass */
#footer p {
  margin: 0;
}
/* line 219, ../sass/style.sass */
#footer #footer-left {
  width: 32.63158%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 221, ../sass/style.sass */
#footer #footer-right {
  width: 32.63158%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
  text-align: right;
}

/*-------------------------------- */
/*-------- Desktop-Layout -------- */
/*-------------------------------- */
/*-------------------------------- */
/*---- Fonts, Micro-Elements ----- */
/*-------------------------------- */
/* line 242, ../sass/style.sass */
body {
  font: 13px/1.5 "AsapRegular", verdana, arial, helvetica, sans-serif;
  color: #444444;
}

/* line 246, ../sass/style.sass */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  color: #0086c4;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.04em;
}

/* line 254, ../sass/style.sass */
h1 {
  font-size: 2.2em;
}

/* line 257, ../sass/style.sass */
h2 {
  font-size: 1.8em;
}

/*Links, Taxonomy etc */
/* line 261, ../sass/style.sass */
a {
  color: #0086c4;
  text-decoration: none;
}
/* line 264, ../sass/style.sass */
a:hover, a:active {
  text-decoration: underline;
}

/*-------------------------------- */
/*---------- Comments ------------ */
/*-------------------------------- */
/* line 272, ../sass/style.sass */
#comments .comment {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #dddddd;
  background: #fcfbf7;
  padding: 15px 25px 15px 17px;
}
/* line 277, ../sass/style.sass */
#comments .comment .user-picture-wrapper {
  float: left;
  width: 14%;
  padding-top: 5px;
}
/* line 281, ../sass/style.sass */
#comments .comment .user-picture-wrapper img {
  border: 1px solid #dddddd;
}
/* line 283, ../sass/style.sass */
#comments .comment .user-picture-wrapper .comment-author {
  font-size: 0.83em;
}
/* line 285, ../sass/style.sass */
#comments .comment .comment-content {
  float: left;
  width: 86%;
}
/* line 288, ../sass/style.sass */
#comments .comment .comment-content h3.title {
  margin: 0 0 2px;
}
/* line 290, ../sass/style.sass */
#comments .comment .comment-content .links {
  width: 75%;
  float: right;
}
/* line 293, ../sass/style.sass */
#comments .comment .comment-content .links ul.links {
  float: left;
  margin: 0;
  width: 55%;
}
/* line 297, ../sass/style.sass */
#comments .comment .comment-content .links .comment-date {
  float: right;
}
