/*-------------------------------- */
/*---------- Reset Styles -------- */
/*-------------------------------- */
/* line 55, ../sass/style.sass */
html, body {
  padding: 0;
  margin: 0;
}

/* line 59, ../sass/style.sass */
body {
  line-height: 1;
  letter-spacing: 0em;
}

/* line 63, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------- */
/*------------ Layout ------------ */
/*-------------------------------- */
/* line 70, ../sass/style.sass */
body {
  background: #d8d8d8 url(../images/body-bg-aces.png);
  background: #d8d8d8 url(../images/lgrey008.png);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  padding: 20px 0 30px;
}

/* line 78, ../sass/style.sass */
#page {
  *zoom: 1;
  max-width: 950px;
  _width: 950px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  -webkit-box-shadow: 0px 2px 6px #999999;
  -moz-box-shadow: 0px 2px 6px #999999;
  box-shadow: 0px 2px 6px #999999;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=90, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=180, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=225, Strength=3) progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=260, Strength=5) progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=305, Strength=3);
}
/* line 38, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 85, ../sass/style.sass */
.front #header-bottom {
  border: 0;
}

/* line 90, ../sass/style.sass */
#logo {
  width: 20%;
  float: left;
  display: none;
}

/* line 98, ../sass/style.sass */
a#logo {
  float: left;
  padding-top: 7px;
}

/* line 102, ../sass/style.sass */
#main {
  padding-top: 30px;
}

/* line 105, ../sass/style.sass */
#content {
  *zoom: 1;
}
/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 107, ../sass/style.sass */
#content a.feed-icon {
  display: none;
}
/* line 109, ../sass/style.sass */
#content .region-content {
  padding: 0 0 25px;
}

/* line 112, ../sass/style.sass */
#footer {
  overflow: hidden;
  *zoom: 1;
  background: none repeat scroll 0 0 black;
  color: #888888;
  font-size: 0.83em;
  padding: 9px 35px 11px;
  margin: 0 -35px;
}
/* line 119, ../sass/style.sass */
#footer p {
  margin: 0;
}
/* line 121, ../sass/style.sass */
#footer #footer-left {
  width: 32.63158%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 123, ../sass/style.sass */
#footer #footer-right {
  width: 32.63158%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
  text-align: right;
}

/*-------------------------------- */
/*---- Fonts, Micro-Elements ----- */
/*-------------------------------- */
/* line 130, ../sass/style.sass */
body {
  font: 13px/1.5 "AsapRegular", verdana, arial, helvetica, sans-serif;
  color: #222222;
}

/* line 134, ../sass/style.sass */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  color: #0086c4;
  font-weight: normal;
  margin: 7px 0 10px;
}

/* line 141, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  text-transform: uppercase;
}

/* line 145, ../sass/style.sass */
h2 {
  font-size: 1.9em;
}

/* line 148, ../sass/style.sass */
.sidebar h2 {
  text-transform: none;
  line-height: 1.2;
}

/* line 152, ../sass/style.sass */
.comment h3.title,
.sidebar .view-blog h3 {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

/*Links, Taxonomy etc */
/* line 158, ../sass/style.sass */
a {
  color: #0086c4;
  text-decoration: none;
}
/* line 161, ../sass/style.sass */
a:hover, a:active {
  text-decoration: underline;
}

/* line 164, ../sass/style.sass */
p {
  margin: 10px 0 11px;
}

/*-------------------------------- */
/* Drupal-specific Micro-Elements */
/*-------------------------------- */
/* line 171, ../sass/style.sass */
ul.action-links {
  padding-left: 3px;
}
/* line 173, ../sass/style.sass */
ul.action-links li {
  list-style: none;
  list-image: none;
  padding-left: 17px;
  background: url(../images/add.png) no-repeat 0 center;
  font-size: 1.1em;
}

/* line 180, ../sass/style.sass */
div.messages, div.status {
  margin-top: 30px;
}

/* line 183, ../sass/style.sass */
.submitted {
  font-size: 0.83em;
  color: #888888;
}

/*-------------------------------- */
/*---------- Comments ------------ */
/*-------------------------------- */
/* line 192, ../sass/style.sass */
#comments .comment {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #dddddd;
  background: #fcfbf7;
  padding: 15px 25px 15px 17px;
  margin-bottom: 20px;
}
/* line 198, ../sass/style.sass */
#comments .comment .user-picture-wrapper {
  float: left;
  width: 14%;
  padding-top: 5px;
}
/* line 202, ../sass/style.sass */
#comments .comment .user-picture-wrapper img {
  border: 1px solid #d5d5d5;
}
/* line 204, ../sass/style.sass */
#comments .comment .user-picture-wrapper .comment-author {
  font-size: 0.83em;
}
/* line 206, ../sass/style.sass */
#comments .comment .comment-content {
  float: left;
  width: 86%;
}
/* line 209, ../sass/style.sass */
#comments .comment .comment-content h3.title {
  margin: 0 0 2px;
}
/* line 211, ../sass/style.sass */
#comments .comment .comment-content .content {
  margin-bottom: 15px;
}
/* line 214, ../sass/style.sass */
#comments .comment .comment-content .links ul.links {
  float: left;
  margin: 0;
  font-size: 0.93em;
}
/* line 218, ../sass/style.sass */
#comments .comment .comment-content .links ul.links li {
  padding: 0 10px 0 0;
}
/* line 220, ../sass/style.sass */
#comments .comment .comment-content .links .comment-date {
  float: right;
  font-size: 0.83em;
  color: #888888;
  float: right;
}
/* line 225, ../sass/style.sass */
#comments h2.comment-form {
  margin-top: 25px;
}

/* line 229, ../sass/style.sass */
ul.inline li.comment-add {
  padding: 15px 0 0 0;
}
/* line 231, ../sass/style.sass */
ul.inline li.comment-add a {
  background: url(../images/comment-icon.png) no-repeat 0 2px;
  padding-left: 25px;
  color: #0086c4;
  display: inline-block;
  line-height: 20px;
}

/*-------------------------------- */
/*------------- Blog ------------ */
/*-------------------------------- */
/* line 243, ../sass/style.sass */
.node .field-name-field-tags {
  margin-bottom: 15px;
}

/* line 247, ../sass/style.sass */
.node-type-article .submitted {
  margin-bottom: 10px;
}
/* line 249, ../sass/style.sass */
.node-type-article h1 {
  margin-bottom: 5px;
}

/*-------------------------------- */
/*----- Termin Detailansicht ----- */
/*-------------------------------- */
/* line 257, ../sass/style.sass */
.node-type-termin .field-name-field-datum {
  font-size: 1.3em;
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  color: #e51b68;
}

/*-------------------------------- */
/*------- Wysiwyg Formate ------- */
/*-------------------------------- */
/* line 265, ../sass/style.sass */
body.cke_show_borders {
  background: white;
}

/*-------------------------------- */
/*-------------------------------- */
/*-------- Desktop-Layout -------- */
/*-------------------------------- */
/*-------------------------------- */
/*--------------------- */
/*--- Header Desktop -- */
/*--------------------- */
/* line 278, ../sass/style.sass */
#name-and-slogan {
  width: 545px;
  height: 110px;
  float: left;
}
/* line 282, ../sass/style.sass */
#name-and-slogan #site-name {
  padding: 10px 10px 15px 35px;
  background: black;
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  font-size: 35px;
  float: left;
  margin: 0 0 0.1em 0;
  text-transform: lowercase;
  font-weight: normal;
  line-height: 1.2;
  width: 230px;
  height: 85px;
}
/* line 294, ../sass/style.sass */
#name-and-slogan #site-name a {
  color: #222222;
  font-weight: normal;
  color: white;
}
/* line 298, ../sass/style.sass */
#name-and-slogan #site-name a:hover {
  text-decoration: none;
}
/* line 300, ../sass/style.sass */
#name-and-slogan #slogan-info-wrapper {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  background: #eeeeee;
  height: 99px;
  width: 250px;
  border-bottom: 1px solid #e8e8e8;
  display: none;
}
/* line 309, ../sass/style.sass */
#name-and-slogan #site-slogan {
  font-family: "ArvoRegular", "trebuchet ms", arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.3;
  margin: 10px 0 4px;
  float: none;
  color: #555555;
  width: 230px;
}
/* line 318, ../sass/style.sass */
#name-and-slogan #header-info {
  color: #777777;
  font-size: 0.83em;
  letter-spacing: 0.03em;
}

/* line 323, ../sass/style.sass */
#header-image {
  background: url(../images/header-image-subpages.jpg) no-repeat right top;
  background: url("../images/laeufer-gross.jpg") no-repeat scroll left -20px transparent;
  height: 110px;
  width: 760px;
  float: right;
  position: absolute;
  right: 0;
  border-left: 2px solid white;
}

/*--------------------------- */
/*------- Startseite -------- */
/*--------------------------- */
/* line 337, ../sass/style.sass */
.front #name-and-slogan {
  width: 20%;
  height: 220px;
}
/* line 340, ../sass/style.sass */
.front #name-and-slogan #site-name {
  padding: 10px 10px 15px 35px;
  font-size: 50px;
  float: left;
  margin: 0 0 0.1em 0;
  text-transform: lowercase;
  font-weight: normal;
  line-height: 1.2;
  width: 277px;
  height: 120px;
}
/* line 350, ../sass/style.sass */
.front #name-and-slogan #slogan-info-wrapper {
  padding-top: 0;
  display: block;
  background: transparent;
  padding-left: 0;
  border: 0;
}
/* line 356, ../sass/style.sass */
.front #name-and-slogan #site-slogan {
  padding-left: 35px;
  width: 250px;
  clear: left;
  font-size: 23px;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #333333;
}
/* line 365, ../sass/style.sass */
.front #name-and-slogan #header-info {
  clear: left;
  padding-left: 35px;
  width: 250px;
  font-size: 13px;
  color: #888888;
}

/* line 375, ../sass/style.sass */
.front #header {
  height: 328px;
  margin-right: -35px;
}
/* line 378, ../sass/style.sass */
.front #header-image {
  position: relative;
  background: url(../images/header-laeufer.jpg) no-repeat right bottom;
  height: 296px;
  width: 705px;
  float: right;
  border-left: 0;
}
/* line 385, ../sass/style.sass */
.front .header-bottom-left-inner {
  width: 34px;
}
/* line 387, ../sass/style.sass */
.front #main {
  padding-top: 0;
}
/* line 389, ../sass/style.sass */
.front .field-name-title, .front .field-name-body {
  *zoom: 1;
}
/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.front .field-name-title:after, .front .field-name-body:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 391, ../sass/style.sass */
.front h1 {
  width: 66.31579%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  font-size: 1.9em;
  text-transform: none;
  line-height: 1.2;
  margin: 0;
  padding-top: 30px;
  height: 30px;
  margin-left: -35px;
  padding-left: 35px;
  background: whitesmoke;
}
/* line 402, ../sass/style.sass */
.front .front-left {
  width: 66.31579%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  margin-left: -35px;
  padding-left: 35px;
  background: whitesmoke;
  height: 199px;
  border-bottom: 1px solid #eaeaea;
}
/* line 409, ../sass/style.sass */
.front .front-left p {
  padding-right: 20px;
}
/* line 411, ../sass/style.sass */
.front h1, .front .front-left {
  margin-right: 0;
  padding-right: 2px;
}
/* line 414, ../sass/style.sass */
.front #page-bottom {
  *zoom: 1;
  background: #f1f1f1;
  border-top: 1px solid #e8e8e8;
  margin-top: 0;
  margin-left: -35px;
  margin-right: -35px;
  padding: 15px 35px 35px;
  color: #777777;
}
/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.front #page-bottom:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 423, ../sass/style.sass */
.front #page-bottom #block-views-blog-block-1 {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 425, ../sass/style.sass */
.front #page-bottom #block-views-termine-block-1 {
  width: 49.47368%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
}
/* line 427, ../sass/style.sass */
.front #page-bottom #block-views-termine-block-1 h2 {
  margin-left: 15px;
}
/* line 430, ../sass/style.sass */
.front #page-bottom .block h2 {
  font-size: 1.5em;
  color: #555555;
  margin-top: 0;
  margin-bottom: 1px;
  background: url("../images/square-bullet-black.png") no-repeat 0 center;
  padding-left: 20px;
}
/* line 439, ../sass/style.sass */
.front #page-bottom .block h3 {
  margin-top: 5px;
  margin-bottom: 7px;
}
/* line 442, ../sass/style.sass */
.front #page-bottom .block .views-field-body {
  line-height: 1.3;
}
/* line 444, ../sass/style.sass */
.front #page-bottom .block .view-blog {
  border-right: 1px solid #cccccc;
  padding-right: 15px;
  margin-top: -20px;
  padding-top: 20px;
}
/* line 449, ../sass/style.sass */
.front #page-bottom .block .view-blog .views-field-field-image {
  float: left;
}
/* line 451, ../sass/style.sass */
.front #page-bottom .block .view-blog .views-field-field-image img {
  margin: 2px 15px 0 1px;
}
/* line 453, ../sass/style.sass */
.front #page-bottom .block .view-termine {
  padding-left: 15px;
}
/* line 455, ../sass/style.sass */
.front #page-bottom .block .view-termine h3 {
  margin-bottom: 1px;
}
/* line 457, ../sass/style.sass */
.front #page-bottom .block .view-termine .views-field-field-bild-termin {
  float: left;
}
/* line 459, ../sass/style.sass */
.front #page-bottom .block .view-termine .views-field-field-bild-termin img {
  margin-right: 15px;
  margin-left: 1px;
  margin-top: 3px;
}
/* line 463, ../sass/style.sass */
.front #page-bottom .block .view-termine .views-field-field-datum {
  color: black;
  padding-right: 10px;
}
/* line 466, ../sass/style.sass */
.front #page-bottom .block .view-termine .views-field-body {
  display: inline;
}
/* line 468, ../sass/style.sass */
.front #page-bottom .block .view-termine .views-field-body p {
  margin: 0;
  display: inline;
}
/* line 472, ../sass/style.sass */
.front .front-right {
  width: 32.63158%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
  margin-right: -35px;
  padding-right: 35px;
  background: #e2e2e2;
  margin-top: -60px;
  height: 260px;
  padding-left: 3px;
}
/* line 480, ../sass/style.sass */
.front .front-right h2 {
  margin-top: 0;
  padding-top: 30px;
}
/* line 483, ../sass/style.sass */
.front .front-right h2, .front .front-right p {
  padding-left: 25px;
}
/* line 486, ../sass/style.sass */
.front .front-middle {
  clear: left;
  padding-top: 22px;
}
/* line 489, ../sass/style.sass */
.front .front-middle h3.strecke {
  background: url("../images/square-bullet-magenta.png") no-repeat scroll 0 5px transparent;
  color: #e51b68;
  line-height: 1.2;
  margin-bottom: 0px;
  padding-left: 20px;
  font-size: 17px;
}
/* line 496, ../sass/style.sass */
.front .front-middle div.media-element.file-mittel {
  height: auto !important;
  width: auto !important;
}
/* line 499, ../sass/style.sass */
.front .front-middle div.media-element.file-mittel a {
  display: block;
}
/* line 501, ../sass/style.sass */
.front .front-middle img {
  padding: 8px;
  border: 1px solid #cccccc;
}
/* line 504, ../sass/style.sass */
.front .front-middle p.description-top {
  margin: 5px 0 10px;
  padding-left: 20px;
  color: #999999;
  font-size: 0.93em;
}
/* line 509, ../sass/style.sass */
.front .front-middle p.description-bottom {
  margin: 2px 0 10px;
  padding-left: 2px;
  color: #999999;
  font-size: 0.93em;
}
/* line 515, ../sass/style.sass */
.front .middle-left, .front .middle-middle, .front .middle-right {
  float: left;
  width: 29%;
}
/* line 518, ../sass/style.sass */
.front .middle-left {
  padding-right: 2.6%;
}
/* line 520, ../sass/style.sass */
.front .middle-middle {
  padding: 0px 2.6%;
}
/* line 522, ../sass/style.sass */
.front .middle-right {
  padding-left: 2.6%;
}

/* line 525, ../sass/style.sass */
#header {
  position: relative;
  margin: 0 -35px;
}
/* line 528, ../sass/style.sass */
#header ul#main-menu {
  float: left;
  margin: 0;
  width: 580px;
}
/* line 532, ../sass/style.sass */
#header ul#main-menu li {
  float: left;
  padding: 0;
}
/* line 536, ../sass/style.sass */
#header ul#main-menu li.first a {
  padding-left: 10px;
}
/* line 538, ../sass/style.sass */
#header ul#main-menu li a {
  color: #edf6f9;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 1.3em;
  display: inline-block;
  padding: 3px 10px 0;
}
/* line 546, ../sass/style.sass */
#header ul#main-menu li.active a, #header ul#main-menu li.active-trail a {
  background: #e51b68;
  color: white;
}

/* line 550, ../sass/style.sass */
#header-bottom {
  height: 32px;
  background: black;
  border-top: 2px solid white;
  clear: both;
}

/* line 556, ../sass/style.sass */
#header-bottom-left {
  height: 100%;
  width: 670px;
  background: #009bdd;
  float: left;
}

/* line 562, ../sass/style.sass */
.header-bottom-left-inner {
  float: left;
  height: 100%;
  width: 27px;
  background: #009bdd;
}

/* line 569, ../sass/style.sass */
.sidebar-second #page #content {
  width: 74.73684%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 571, ../sass/style.sass */
.sidebar-second #page #content .section {
  padding-right: 30px;
}
/* line 573, ../sass/style.sass */
.sidebar-second #page #sidebar-second {
  width: 24.21053%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
}
/* line 575, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section {
  border-left: 1px dashed #cccccc;
  margin-left: -20px;
  padding-left: 25px;
  margin-top: -30px;
  padding-top: 30px;
  margin-right: -35px;
  padding-right: 35px;
  padding-bottom: 20px;
  background: whitesmoke;
  color: #818181;
}
/* line 586, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section h2 {
  color: black;
  line-height: 1.2;
  margin-bottom: 10px;
  font-size: 1.7em;
}
/* line 592, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section .views-field-title h3 {
  margin-bottom: 0;
}
/* line 594, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section .views-field-title h3 a {
  color: #e51b68;
}
/* line 601, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section .views-field-field-datum {
  color: #333333;
  margin-bottom: 2px;
  font-size: 0.93em;
}
/* line 605, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section .views-field-body {
  margin-bottom: 2px;
}
/* line 607, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section p {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 610, ../sass/style.sass */
.sidebar-second #page #sidebar-second .section .views-field-view-node {
  font-size: 0.93em;
}

/* line 614, ../sass/style.sass */
.node-type-termin .field-name-field-bild-termin {
  float: left;
  margin-right: 20px;
}
/* line 617, ../sass/style.sass */
.node-type-termin .field-name-field-datum {
  float: left;
}
/* line 620, ../sass/style.sass */
.node-type-termin .field-name-body {
  clear: left;
}
